.DS_Store
application/builds/*
application/cache/*
content/*
public_html/assets/*
system/cache/*

### Keepers ###
!application/builds/.htaccess
!application/cache/.htaccess
!content/default/*
!system/cache/index.html
!public_html/assets/index.html